{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}
.ecran{
    width: 100%;
    height: 100vh;
    background-image: url(image/background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carte{
    width: 90%;
    max-width 440px;
    color: aliceblue;
    text-align: center;
    padding: 50px 30px;
    border: 1px solid rgba(255, 255, 255, 0.3) ;
    background:rgba(255,255,255, 0.2) ;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0, 0.1)  ;
    backdrop-filter: blur;

}

.carte img{
    width: 150px;
    border-radius: 50%;
}
.carte .reseau img{
    width: 40px;
    border-radius: 50%;
    margin: 10px 5px;
    transition: background 0.5s;

}
.carte .reseau img:hover{
    background: white;
}
.boutton{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    background: white;
    padding: 10px 30px;
    border-radius: 30PX;
    margin: 30px 0 10px;
}